body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  float: right;
  
}

li a {
  display: block;
  color: #363958;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
.top-h1{
    font-size: 50px;
    color: #363958;
}
.top-h11{
    font-size: 50px;
    color: #FF8367;
}
p{
    color: dimgray;
    margin-bottom: 50px;
}
.link-button{
    color: white;
    background-color: #FF8367;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 700;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
}
.top-img{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-left: 100px;
    
}
section{
    height: 700px;
}
.about-area{
    margin-bottom: -500px;
}
.about{
    margin-top: -200px;
}
.about-img{
    width: 600px;
    height: 650px;
    margin: auto;
    margin-top: -400px;
    
}
.work{
    background-color: #E5E5E5;
    
}
.LASTET{
    
    font-size: 40px;
    color: #FF8367;
}
.workh1{
    text-align: center;
    color: #363958;
    font-size: 40px;
    padding: 90px;
}
.work-sec{
    width: 26%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.single-work{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;
}
.workh2{
    color: #363958;
    font-size: 30px;
}
.work-img{
    width: 380px;
    height: 130px;
    padding-top: 30px;
    
}
.work-img1{
    width: 350px;
    height: 170px;
    padding-top: 10px;
    margin-left: 10px;
}
.work-img2{
    width: 350px;
    height: 170px;
    padding-top: 10px;
    margin-left: 10px;
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    position: relative;
    font-family: Arial;
    margin-top: 700px;
  }
  .inquiry-area{
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:250px;
    width:65%;
    margin: 100px auto;
    border-radius: 20px;
}

.work-area{
    width:40%;
    float:left;
    padding-left:10%;
    padding-top: 10%;
    color: white;
}

.button{
    width:40%;
    float:right;
    padding-left:10%;
    padding-top: 12%;
}