body{
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
}
h1{
    color: #363958;
    font-weight: bold;
    font-size: 40px;
}
.orange-color{
    color: #ff8367;
}
section{
    height: 500px;
    /*margin-bottom: 150px;*/
    
}
.link-button{
    color: white;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 700;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-img{
    width: 500px;
    height: 500px;
    margin: auto;
    
}
.about-img{
    width: 400px;
    height: 450px;
    margin: auto;
    margin-bottom: 150px;
}
p{
    color: dimgray;
}
.project{
    text-align: center;
}
.project-width{
    width: 28%;
    float: left;
    margin-left: 1%;
    padding-left: 1%;
}

.project{
    margin-top: 100px;
}